<div class="container">

  <h1>Rodney Cobb</h1>
  <p>CEO/Founder DemocracyMadeForUS.io</p>
  <p>Thank you for visiting my page! I have been described as a Civic Tech & Innovation pioneer, a DevOps ninja, and a Web/Linux Container Developer. There are various ways to contact me below and after we talk, you can tell me if those descriptions hold true. Look forward to hearing from you soon.</p>


  <br />
	<a href="http://facebook.com/RodneyA.Cobb" target="blank">
	<%=image_tag("1415662178_facebook-32.png") %> </a>

	<a href="http://twitter.com/facetherathe" target="blank">
	<%=image_tag("1415662220_Twitter-32.png") %> </a>

	<a href="http://github.com/roacobb" target="blank">
	<%=image_tag("github.png") %> </a>
	
	<a href="mailto:rocobb@dmus.io">
	<%=image_tag("gmail.png") %> </a>

</div>
